In [9]:
x = 5
if x == 0:
    print('x is zero')
elif x > 0:
 print('x is positive')
elif x < 0:
  print('x is negative')
else:
    print('x is none')

x is positive

In [11]:
x =input('x = ')
x= int(x)
if x == 0:
    print('x is zero')
elif x > 0:
 print('x is positive')
elif x < 0:
  print('x is negative')
else:
    print('x is none')

x = 0
x is zero

In [20]:
for N in [1,2,3,4,5]:
    print(N,end='')

12345

In [21]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [26]:
for N in range(3,31,3):
    print(N)

3
6
9
12
15
18
21
24
27
30

In [25]:
total = 0
for N in range(1,6):
 total += N
print(total)

15

In [29]:
places = ["kamigyo ku","nakagyo ku","sagyo ku"]
new_places = []

for place in places:
    new_places.append(place.capitalize().replace(" ","-"))
print(new_places)

['Kamigyo-ku', 'Nakagyo-ku', 'Sagyo-ku']

In [31]:
total = 0
basket_items = {'apples': 4,'oranges': 19,'kites': 3,'sandwiches': 8}
fruits = ['apples','oranges','pears','peaches','grapes','bananas']

for object,calculate in basket_items.items():
    if object in fruits:
        total += calculate
print("There are {} fruits in basket.".format(total))

There are 23 fruits in basket.

In [ ]:
total = 0
for object,calculate

In [33]:
i = 0
while i < 10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
sum = 0
i = 1
while i < 11:
    sum += i
    i += 1
print(sum)

55

In [47]:
limit = 50
num = 0

48

In [54]:
for n in range(20):
    if n % 2 == 0:
        continue
    print(n)

1
3
5
7
9
11
13
15
17
19

In [59]:
print ("Hello World"[: : -1])

dlroW olleH