In [1]:
x = 4
type(x)

int

In [2]:
x = "hello"
type(x)

str

In [3]:
x = 3.14159
type(x)

float

In [4]:
print((5+2)*(12/4))

21.0

In [5]:
print(11/3)
print("------")
print(11//3)

3.6666666666666665
------
3

In [6]:
print(2**5)

32

In [7]:
bin(12)

'0b1100'

In [8]:
bin(4)

'0b100'

In [16]:
a = 2
sum =a+2
print(sum)

4

In [17]:
b = 5
b *=sum
print(b)

20

In [18]:
c = 10
c **= b
print(c)

100000000000000000000

In [19]:
13 % 2 == 1

True

In [20]:
255 % 2 == 1

True

In [22]:
72 % 2 == 1

False

In [23]:
a = 63
50<a<100

True

In [24]:
m = [4,5,6]
n = [4,5,6]
print(m)
print(n)

[4, 5, 6]
[4, 5, 6]

In [25]:
m == n

True

In [26]:
m is n

False

In [27]:
m is not n

True

In [28]:
1 or 2

1

In [29]:
1 and 2

2

In [30]:
x = 1
type(x)

int

In [31]:
x = 1.5
type(x)

float

In [32]:
x = 7/3
type(x)

float

In [33]:
x = 7//3
type(x)

int