In [1]:
L = [4,6,8,10]
L

[4, 6, 8, 10]

In [2]:
L.append(11)
L

[4, 6, 8, 10, 11]

In [4]:
L+[14,15,16]
L

[4, 6, 8, 10, 11]

In [5]:
L = [4,6,8,9,11]
L[0]

4

In [6]:
L[4]

11

In [10]:
L[0:3]

[4, 6, 8]

In [12]:
L[3:5]

[9, 11]

In [13]:
L[::2]

[4, 8, 11]

In [14]:
L[::-2]

[11, 8, 4]

In [15]:
t = 4,9,10
t

(4, 9, 10)

In [16]:
len(t)

3

In [19]:
t[0]

4

In [20]:
t[1]=5

TypeError: 'tuple' object does not support item assignment

In [21]:
t.append(12)

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
A = [1,1,2,5,5,5,8,8,9]
B = [1,2,2,3,3,3,6,10]
A
B

[1, 2, 2, 3, 3, 3, 6, 10]

In [23]:
A

[1, 1, 2, 5, 5, 5, 8, 8, 9]

In [24]:
A_set = set(A)
B_set = set(B)
print(A_set)
print(B_set)

{1, 2, 5, 8, 9}
{1, 2, 3, 6, 10}

In [25]:
A_set|B_set

{1, 2, 3, 5, 6, 8, 9, 10}

In [26]:
A_set.union(B_set)

{1, 2, 3, 5, 6, 8, 9, 10}

In [27]:
A_set&B_set

{1, 2}

In [28]:
A_set.intersection(B_set)

{1, 2}

In [29]:
A_set.difference(B_set)

{5, 8, 9}

In [30]:
A_set.symmetric_difference(B_set)

{3, 5, 6, 8, 9, 10}

In [31]:
A_set-B_set

{5, 8, 9}

In [32]:
A_set^B_set

{3, 5, 6, 8, 9, 10}

In [34]:
D = {"one":1,"two":2,"three":3,"four":4,"five":5,"six":6
    ,"seven":7,"eight":8,"nine":9,"ten":10}
print(D)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10}

In [35]:
print(D["two"])

2

In [36]:
keys = len(D)
print(keys)

10

In [37]:
contains_eleven = "eleven" in D
print(contains_eleven)

False

In [38]:
contains_eleven = D.get("eleven")
print(contains_eleven)

None

In [39]:
D["eleven"] = 11
print(D)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'eleven': 11}

In [40]:
D["nine"]

9

In [41]:
sorted_keys = sorted(D.keys())
print(sorted_keys)

['eight', 'eleven', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two']

In [42]:
print(sorted_keys[0])

eight

In [43]:
print(sorted_keys[-1])

two

In [44]:
sorted_values = sorted(D.values())
print(sorted_values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [46]:
print(sorted_values[0])

1